<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatisimpl.mappers.EgresadoMapper">
   
    <resultMap type='Egresado' id='EgresadoResult'>
        <id property='documentoID' column='DocumentoID'/>
        <result property='telefono1' column='Telefono'/>
        <result property='telefono2' column='Celular'/>  
        <result property='tipoDocumentoID' column='TipoDocumentoID'/> 
        <result property='nombre' column='Nombre'/> 
        <result property='direccion' column='Direccion'/> 
        <result property='correo' column='Correo'/> 
        <result property='genero' column='Genero'/> 
        <result property='semestreGrado' column='Semestre_Graduacion'/> 
        <result property='correoPersonal' column='Correo_Personal'/> 
        <result property='cargo' column='Cargo'/> 
        <result property='labora' column='Labora'/> 
        <association property='emp' javaType='Egresado_Empresa' resultMap='EmpresaResult' columnPrefix='Epre_'></association>
    </resultMap>
    
    <resultMap type='Egresado_Empresa' id='EmpresaResult'>
        <id property='nombreempre' column='Nombre'/>
        <result property='telempre' column='Telefono'/>   
        <result property='dirempre' column='Direccion'/>
    </resultMap>
  
    
     <insert id='insertarEgresado'>
        INSERT INTO Egresado(DocumentoID,Semestre_Graduacion,Correo_Personal,Empresa,Labora,Cargo,Fecha_Graduacion) values (#{documentoID},#{semestreGraduacion},#{correoPersonal},#{empresaID},#{labora},#{cargo},#{fechaGraduacion})
    </insert>
    
     <select id="getEgresado" parameterType="map" >
         SELECT 
          p1.DocumentoID as Egre_DocumentoID,
          p1.Telefono as Egre_Telefono,
          p1.Celular as Egre_Celular,
          p1.TipoDocumentoID as Egre_TipoDocumentoID,
          p1.Nombre as Egre_Nombre,
          p1.Direccion as Egre_Direccion,
          p1.Correo as Egre_Correo,
          p1.Genero as Egre_Genero,
          egre.Semestre_Graduacion as Egre_Semestre_Graduacion, 
          egre.Correo_Personal as Egre_Correo_Personal, 
          egre.Cargo as Egre_Cargo,
          egre.Labora as Egre_Labora, 
        
          Egresado_Empresa.Nombre as Egre_Epre_Nombre, 
          Egresado_Empresa.Telefono as Egre_Epre_Telefono, 
          Egresado_Empresa.Direccion as Egre_Epre_Direccion,
      
         FROM Egresado as egre JOIN Persona as p1 on (p1.DocumentoID=egre.DocumentoID) JOIN Egresado_Empresa ON (egre.Empresa = Egresado_Empresa.Nombre)
         WHERE egre.DocumentoID = #{idEgresado}
     </select>
     
     <select id="getEgresados" parameterType="map" >
         SELECT 
       
          p1.DocumentoID as Egre_DocumentoID,
          p1.Telefono1 as Egre_Telefono1,
          p1.Telefono2 as Egre_Telefono2,
          p1.TipoDocumentoID as Egre_TipoDocumentoID,
          p1.Nombre as Egre_Nombre,
          p1.Direccion as Egre_Direccion,
          p1.Correo as Egre_Correo,
          p1.Genero as Egre_Genero,
          egre.Semestre_Graduacion as Egre_Semestre_Graduacion, 
          egre.Correo_Personal as Egre_Correo_Personal, 
          egre.Cargo as Egre_Cargo,
          egre.Labora as Egre_Labora, 

          emp.Nombre as Egre_Epre_Nombre, 
          emp.Telefono as Egre_Epre_Telefono, 
          emp.Direccion as Egre_Epre_Direccion,
        
         FROM Egresado as egre JOIN Persona as p1 on (p1.DocumentoID=egre.DocumentoID) JOIN Egresado_Empresa as emp ON (egre.Empresa = emp.Nombre)
         
     </select>
    
              	
</mapper>
