<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatisimpl.mappers.EmpresaMapper">
    
    
    <resultMap type='Egresado_Empresa' id='EmpresaResult'>
        <result property ='nombreempre' column ='EmpresaID'></result>
    </resultMap>

    
    <select id='getEmpresa' parameterType='map'>
        SELECT Nombre
        FROM Egresado_Empresa
        WHERE Nombre=#{nombre}
    </select>
    
     <insert id='insertarEmpresa' >
        INSERT INTO Persona(DocumentoID,TipoDocumentoID,Nombre,Direccion,Correo,Genero,Telefono1,Telefono2) values (#{documentoID},#{tipoDocumentoID},#{nombre},#{direccion},#{correo},#{tenero},#{telefono1},#{telefono2})
    </insert>
     
    
              	
</mapper>