<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatisimpl.mappers.EmpresaMapper">
    
    
    <resultMap type='Egresado_Empresa' id='EmpresaResult'>
        <id property='empresaid' column="EmpresaID"></id>
        <result property ='nombreempre' column ='Nombre'></result>
        <result property ='dirempre' column ='Direccion'></result>
        <result property ='telempre' column ='Telefono'></result>
    </resultMap>

    
    <select id='getEmpresa' parameterType='map' resultMap="EmpresaResult">
        SELECT EmpresaID, Nombre, Direccion, Telefono
        FROM Egresado_Empresa
        WHERE Nombre = #{nombre}
    </select>
    
     <insert id='insertarEmpresa' >
        INSERT INTO Egresado_Empresa(EmpresaID,Nombre,Direccion,Telefono) values (#{empresaID},#{nombre},#{direccion},#{telefono})
    </insert>
     
    
              	
</mapper>