<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatisimpl.mappers.EstudianteMapper">
  
    <resultMap type='Estudiante' id='EstudianteResult'>
        <id property='documentoID' column='DocumentoID'/>
        <result property='telefono1' column='Telefono1'/>
        <result property='telefono2' column='Telefono2'/>  
        <result property='tipoDocumentoID' column='TipoDocumentoID'/> 
        <result property='nombre' column='Nombre'/> 
        <result property='direccion' column='Direccion'/> 
        <result property='correo' column='Correo'/> 
        <result property='genero' column='Genero'/> 
        <result property='codigoEstudiante' column='Codigo_Estudiante'/> 
        <result property='semestrePonderado' column='Semestre_Ponderado'/> 
        <result property='carrera' column='Carrera'/> 
    </resultMap>
    
    
    
      
    
     <insert id='insertarEstudiante' parameterType='map'>
        insert into ESTUDIANTE values (Persona)(#{persona})
    </insert>
    
    <select id="getEstudiante" parameterType="map" >
         SELECT * FROM 
         Estudiante JOIN Persona 
         WHERE Estudiante.DocumentoID = #{idEstudiante}
     </select>
    
    <select id="getEstudiantes" parameterType="map" >
         SELECT 
         per.documentoID as DocumentoID,
         per.telefono1 as Telefono1,
         per.telefono2 as Telefono2,
         per.tipoDocumentoID as TipoDocumentoID,
         per.nombre as Nombre, 
         per.direccion as Direccion,
         per.correo as Correo,
         per.genero as Genero,
         est.Codigo_Estudiante as Codigo_Estudiante,
         est.Semestre_Ponderado as Semestre_Ponderado,
         est.Carrera
        
        FROM 
         Estudiante as est JOIN Persona as per
         
     </select>
     <!--- 
    
     --> 
    
              	
</mapper>