<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 
<mapper namespace='edu.eci.pdsw.samples.persistence.mybatisimpl.mappers.PersonaMapper'>
    
    <resultMap type='Persona' id='PersonaResult'>
        <id property='documentoID' column='DocumentoID'/>
        <result property='tipoDocumentoID' column='TipoDocumentoID'/> 
        <result property='nombre' column='Nombre'/> 
        <result property='apellido' column='Apellido'/> 
        <result property='direccion' column='Direccion'/> 
        <result property='correo_Personal' column='Correo_Personal'/> 
        <result property='genero' column='Genero'/> 
        <result property="telefono1" column="Telefono"/>
        <result property="telefono2" column="Celular"/>
    </resultMap>
    
    <select id="getAfiliacionesVencerse" parameterType="map" resultMap="PersonaResult">
        SELECT 
        p.Nombre as Nombre,
        p.Apellido as Apellido,
        p.TipoDocumentoID as TipoDocumentoID,
        p.DocumentoID as DocumentoID,
        p.Direccion as Direccion,
        p.Correo_Personal as Correo_Personal,
        p.Genero as Genero,
        p.Telefono as Telefono,
        p.Celular as Celular 
        FROM Persona as p JOIN Estado_afiliacion as est ON(p.DocumentoID = est.DocumentoID)
        WHERE DATEDIFF(est.Fecha_Fin,SysDate())&lt;30
    </select>
    
    <select id="getPersona" parameterType="map" resultMap="PersonaResult">
        SELECT 
        p.Nombre as Nombre,
        p.Apellido as Apellido,
        p.TipoDocumentoID as TipoDocumentoID,
        p.DocumentoID as DocumentoID,
        p.Direccion as Direccion,
        p.Correo_Personal as Correo_Personal,
        p.Genero as Genero,
        p.Telefono as Telefono,
        p.Celular as Celular 
        FROM Persona as p 
        WHERE p.DocumentoID={#id}
    </select>
    
    
    
    <insert id='insertarPersona' parameterType="map" >
        INSERT INTO Persona(DocumentoID,TipoDocumentoID,Nombre,Apellido,Direccion,Correo_Personal,Genero,Telefono,Celular) values (#{documentoID},#{tipoDocumentoID},#{nombre},#{apellido},#{direccion},#{correo},#{genero},#{telefono1},#{telefono2})
    </insert>
    
    <delete id="eliminarPersona" parameterType="map" >
        DELETE FROM Persona WHERE(DocumentoID=#{documentoID})
    </delete>
    
    
</mapper>
