<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 
<mapper namespace='edu.eci.pdsw.samples.persistence.mybatisimpl.mappers.SolicitudAfMapper'>
    
    <resultMap type='SolicitudAfiliacion' id='SolicitudResult'>
        <id property='solicitudID' column='SolicitudID'/>
        <result property='fechaSolicitud' column='Fecha_Solicitud'/>
        <result property='estadoSolicitud' column='Estado_Solicitud'/>
        <result property='comentario' column='Comentario'/>
        <association property='e1' javaType='Egresado' resultMap='EgresadoResult' columnPrefix='Egre_'></association>
        <association property='e2' javaType='Estudiante' resultMap='EstudianteResult' columnPrefix='Estu_'></association>  
    </resultMap>
   
    <resultMap type='Estudiante' id='EstudianteResult'>
        <id property='documentoID' column='DocumentoID'/>
        <result property='telefono1' column='Telefono'/>
        <result property='telefono2' column='Celular'/>  
        <result property='tipoDocumentoID' column='TipoDocumentoID'/> 
        <result property='nombre' column='Nombre'/> 
        <result property='apellido' column='Apellido'/> 
        <result property='direccion' column='Direccion'/> 
        <result property='correo_Personal' column='Correo_Personal'/> 
        <result property='genero' column='Genero'/> 
        <result property='codigoEstudiante' column='Codigo_Estudiante'/> 
        <result property='semestrePonderado' column='Semestre_Ponderado'/> 
        <result property='carrera' column='Carrera'/> 
    </resultMap>
    
    <resultMap type='Egresado' id='EgresadoResult'>
        <id property='documentoID' column='DocumentoID'/>
        <result property='telefono1' column='Telefono'/>
        <result property='telefono2' column='Celular'/>  
        <result property='tipoDocumentoID' column='TipoDocumentoID'/> 
        <result property='nombre' column='Nombre'/> 
        <result property='apellido' column='Apellido'/> 
        <result property='direccion' column='Direccion'/> 
        <result property='correo_Personal' column='Correo_Personal'/> 
        <result property='genero' column='Genero'/> 
        <result property='semestreGrado' column='Semestre_Graduacion'/> 
        <result property='fechaGraduacion' column='Fecha_Graduacion'/>
        <result property='correoEstudiantil' column='Correo_Estudiantil'/> 
        <result property='cargo' column='Cargo'/> 
        <result property='labora' column='Labora'/> 
        <result property='carrera' column='Carrera'/> 
        <association property='emp' javaType='Egresado_Empresa' resultMap='EmpresaResult' columnPrefix='Epre_'></association>
    </resultMap>

    <resultMap type='Egresado_Empresa' id='EmpresaResult'>
        <id property='nombreempre' column='Nombre'/>
        <result property='telempre' column='Telefono'/>   
        <result property='dirempre' column='Direccion'/>
    </resultMap>
    
    <select parameterType='map' id='getSolicitudesAfiliacion' resultMap='SolicitudResult'  >   
        SELECT
        so.SolicitudID,
        so.Fecha_Solicitud, 
        so.Estado_Solicitud, 
        so.Comentario,
        
        p1.DocumentoID as Egre_DocumentoID,
        p1.Telefono as Egre_Telefono,
        p1.Celular as Egre_Celuar,
        p1.TipoDocumentoID as Egre_TipoDocumentoID,
        p1.Nombre as Egre_Nombre,
        p1.Apellido as Egre_Apellido,
        p1.Direccion as Egre_Direccion,
        p1.Correo_Personal as Egre_Correo_Personal,
        p1.Genero as Egre_Genero,
        egre.Semestre_Graduacion as Egre_Semestre_Graduacion, 
        egre.Correo_Estudiantil as Egre_Correo_Estudiantil, 
        egre.Cargo as Egre_Cargo,
        egre.Labora as Egre_Labora,
        egre.Carrera as Egre_Carrera,
        egre.Fecha_Graduacion as Egre_Fecha_Graduacion, 
        
        Egresado_Empresa.Nombre as Egre_Epre_Nombre, 
        Egresado_Empresa.Telefono as Egre_Epre_Telefono, 
        Egresado_Empresa.Direccion as Egre_Epre_Direccion,
        
        p1.DocumentoID as Estu_DocumentoID,
        p1.Telefono as Estu_Telefono,
        p1.Celular as Estu_Celular,
        p1.TipoDocumentoID as Estu_TipoDocumentoID,
        p1.Nombre as Estu_Nombre,
        p1.Apellido as Estu_Apellido,
        p1.Direccion as Estu_Direccion,
        p1.Correo_Personal as Estu_Correo_Personal,
        p1.Genero as Estu_Genero, 
        Estudiante.Codigo_Estudiante as Estu_Codigo_Estudiante,
        Estudiante.Semestre_Ponderado as Estu_Semestre_Ponderado, 
        Estudiante.Carrera as Estu_Carrera  
         
        FROM Persona as p1 INNER JOIN Solicitud_Afiliacion as so ON(p1.DocumentoID = so.DocumentoID) LEFT JOIN Estudiante ON (Estudiante.DocumentoID = p1.DocumentoID) LEFT JOIN Egresado as egre ON (egre.DocumentoID= p1.DocumentoID) LEFT JOIN Egresado_Empresa ON (egre.Empresa = Egresado_Empresa.Nombre)
        WHERE so.Estado_Solicitud="NO REVISADO" 
        
    </select>
    
    <select id='getSolicitudAf' parameterType='map' resultMap='SolicitudResult' >   
        SELECT SolicitudID,
        Fecha_Solicitud,
        Estado_Solicitud,
        Comentario,
        p1.DocumentoID as Estu_DocumentoID,
        p1.Telefono1 as Estu_Telefono1,
        p1.Telefono2 as Estu_Telefono2,
        p1.TipoDocumentoID as Estu_TipoDocumentoID,
        p1.Nombre as Estu_Nombre,
        p1.Apellido as Estu_Apellido,
        p1.Direccion as Estu_Direccion,
        p1.Correo_Personal as Estu_Correo_Personal,
        p1.Genero as Estu_Genero, 
        Estudiante.Carrera as Estu_Carrera, 
        Estudiante.Semestre_Ponderado as Estu_Semestre_Ponderado, 
        Estudiante.Codigo_Estudiante as Estu_Codigo_Estudiante,
        
        p1.DocumentoID as Egre_DocumentoID,
        p1.Telefono as Egre_Telefono,
        p1.Celular as Egre_Celuar,
        p1.TipoDocumentoID as Egre_TipoDocumentoID,
        p1.Nombre as Egre_Nombre,
        p1.Apellido as Egre_Apellido,
        p1.Direccion as Egre_Direccion,
        p1.Correo_Personal as Egre_Correo_Personal,
        p1.Genero as Egre_Genero,
        egre.Semestre_Graduacion as Egre_Semestre_Graduacion, 
        egre.Correo_Estudiantil as Egre_Correo_Estudiantil, 
        egre.Cargo as Egre_Cargo,
        egre.Labora as Egre_Labora,
        egre.Carrera as Egre_Carrera,
        egre.Fecha_Graduacion as Egre_Fecha_Graduacion, 
        
        Egresado_Empresa.Nombre as Egre_Epre_Nombre, 
        Egresado_Empresa.Telefono as Egre_Epre_Telefono, 
        Egresado_Empresa.Direccion as Egre_Epre_Direccion
        
        FROM Persona as p1 INNER JOIN Solicitud_Afiliacion ON(p1.DocumentoID = Solicitud_Afiliacion.DocumentoID) LEFT JOIN Estudiante ON (Estudiante.DocumentoID = p1.DocumentoID) LEFT JOIN Egresado as egre ON (egre.DocumentoID= p1.DocumentoID) LEFT JOIN Egresado_Empresa ON (egre.Empresa = Egresado_Empresa.Nombre)
        WHERE Solicitud_Afiliacion.SolicitudID=#{identificador}
        
    </select>
        
    <insert id='insertarSolicitudAfiliacion' parameterType='map' >
        INSERT INTO Solicitud_Afiliacion (DocumentoID,Fecha_Solicitud,Estado_Solicitud,Comentario) values(#{documentoid},#{fecha},#{estado},#{comentario})
    </insert>
    
    <delete id="eliminarSolicitud" parameterType="map" >
        DELETE FROM Solicitud_Afiliacion WHERE(DocumentoID=#{documentoID})
    </delete>
    
    <update id="actualizarSolicitud" parameterType="map">
        UPDATE Solicitud_Afiliacion SET Estado_Solicitud=#{estadoSolicitud},Comentario=#{comentario} WHERE SolicitudID=#{solicitudID}
    </update>
    
</mapper>
