/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/11/2016, 02:21:31 AM
    Author     : ricardo
*/


.div {
    align-items: center;
    width: 100%;
    -webkit-align-content: center;
    align-content: center;
    margin: auto
}
p{color: white;
  font-size: larger;
  font-family: "Comic Sans MS", cursive, sans-serif;
  justify-content: space-around;
}



.norte{
    align-self: center;
    display: block;
    margin: auto;
    max-width:70%;
}

.ui-widget,.ui-widget .ui-widget {
    font-size: 100% !important;
}

.westUnit {
    align-self: center;
    display: block;
    margin: auto;
    max-width:100% ;
    border-style: solid;
    border-width: 90px;
    border-color: white;
}

body {
    background-image: url("../resource/escuela.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.left{
    text-align: left;
}

.centered {
    text-align: center;
}

.asd{
    align-self: center;
    display: block;
    margin: auto;

}

.cent{
    align-self: center;
    display: block;
    margin: auto;

}

img {
    display: block;
    margin: auto;
}

.ui-button{
}  

.ui-datatable{
    display: block;
    margin: auto;
    width: 80%;
}

.ui-selectOneMenu{
    display: block;
    margin: auto;
    width: 85%;

}

.ui-panelgrid{
    margin: auto;
    width: 50%;
    color: skyblue;
}

.calen{
    display: block;
    margin: auto;
    width: 100%;
}


.dateTimeField input {
    vertical-align: auto;
    margin-right: auto;
}

.dateTimeField img {
    vertical-align: middle;
}
.ui-dialog{z-index:1005 !important;}  


.center {
    padding: 70px 0;
}


.contenedor {
    position: fixed;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    
    width: 70%;
}
#cabecera {
}
#menu {
    float: left;
    width: 150px;
}
#contenido {
}
#pie {
    clear: both;
}