/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/11/2016, 02:21:31 AM
    Author     : ricardo
*/


.div {
    align-items: center;
    width: 100%;
    -webkit-align-content: center;
    align-content: center;
    margin: auto
}
p{color: white;
  font-size: larger;
  font-family: "Comic Sans MS", cursive, sans-serif;
  justify-content: space-around;
}

body {
    background-color: skyblue;
}

.left{
    text-align: left;
}

.centered {
    text-align: center;
}


.asd{
    display: block;
    margin: auto;
    width: 10%;
    vertical-align: middle
    
}

.cent{
    align-self: center;
    display: block;
    margin: auto;
    
}

img {
    display: block;
    margin: auto;
}

.ui-button{
}  

.ui-datatable{
    display: block;
    margin: auto;
    width: 80%;
}

.ui-selectOneMenu{
    display: block;
    margin: auto;
    width: 85%;
    
}

.ui-panelgrid{
    margin: auto;
    width: 50%;
    color: skyblue;
}

.calen{
    display: block;
    margin: auto;
    width: 100%;
}


.dateTimeField input {
   vertical-align: auto;
   margin-right: auto;
}

.dateTimeField img {
   vertical-align: middle;
}
.ui-dialog{z-index:1005 !important;}  